/* logo image styling */
.logo img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}